<form class="pt-5 mb-3 form-group" [formGroup]="callTimes" (ngSubmit)="submit()">
<div class="container">
    <h2 class="txt-inktel-blue">Modify A Call Time</h2>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <span class="mr-4"> Id: 
              <button type="button" class="btn btn-white" tooltip="Make sure you put the id of Caller."
              placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
            </span>
            <br>
            <input type="text" formControlName="id" class="rounded" [ngStyle]="{'outline-color': callTimes.controls['id'].invalid ? 'firebrick' : '' }">
          </div>
          <div class="col-6 text-danger" *ngIf='callTimes.controls["id"].invalid'>
              * Invalid ID entry
            </div>
          <div class="col-12">
            Name: 
            <button type="button" class="btn btn-white" tooltip="Short Description of call time."
            placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
            <br>
            <input type="text" formControlName="name" class="rounded" [ngClass]="{'invalid-input' : callTimes.controls['name'].invalid}">
          </div>
          <div class="col-6 text-danger" *ngIf='callTimes.controls["name"].invalid'>
            * Invalid Name entry
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
               <div class="d-block">Comments: 
                 <button type="button" class="btn btn-white" tooltip="This is where you put comments about Caller."
                placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
              </div> 
              <textarea class="w-100 h-100 rounded" name="comment" formControlName="comments" id="ct_comment" style="resize:none; vertical-align: top"></textarea>
          </div>
        </div>
      </div>   
    </div>
  </div>

  <div class="container">
    <div class="row py-4">
      <div class="col">
        <div class="container-fluid bg-inktel-blue text-white">
          <div class="row text-center">
            <div class="col-6">Default Start:
                <div class="row justify-content-center">
                  <!-- <div class="col-4"></div> -->
                  <div class="col-3">
                      <span class=""> <timepicker formControlName="defaultStart"></timepicker></span>
                  </div>
                  <!-- <div class="col"></div> -->
                </div>
            </div>
            <div class="col-6">Default End:
              <div class="row justify-content-center">
                  <div class="col-3">
                      <span class=""><timepicker formControlName="defaultEnd"></timepicker></span>
                  </div>
                </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
        <!-- Need to add Start and Stop properties for each day of the week if
        intended to pass specific/custom values for each day of week.
        Only added default values, monday, and tuesday -->
      <app-daily-log (weekLog)="showCallLog($event)" 
        [defaultStart]="callTimes.value.defaultStart"
        [defaultStop]="callTimes.value.defaultEnd"
        [monStart]="monday"
        [monStop]="null"
        [tueStart]="null"
        [tueStop]="null"
        ></app-daily-log>
      </div>

    <div class="container">
      <div class="row pt-5">
          <div class="container bg-inktel-blue">
            <div class="h6">
              <span class="text-white">Add State Rule</span>
              <button type="button" class="btn btn-white" tooltip="State Laws for Calling."
              placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
            </div> 
            <div class="row">
              <div class="col mb-3">
                <select (change)="onChange($event)" formControlName="stateRule">
                    <option value="null">-select-</option>
                    <option *ngFor="let s of statesRules" [value]="s.id">{{s.state}} ({{s.start}} - {{s.end}})</option>
                </select>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="pt-3 h5 text-muted">
          Active State Call Time Definitions for this Record
          <button type="button" class="btn btn-white" tooltip="A list of active call definition for record."
          placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
        </div>
        <div class="container-fluid border border-dark rounded bg-inktel-grey" style="height: 100px;"></div>
      </div>
      <div class="row text-center mt-5">
        <div class="col">
          <div class="form-group">
              <button type="submit" class="btn btn-lg"
              [ngClass]="{'btn-outline-secondary': callTimes.invalid, 'bg-inktel-green text-white': callTimes.valid}" [disabled]="callTimes.invalid" >
                  Submit
                </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <p>Form value: {{ callTimes.value | json }}</p>
  <p>Form status: {{ callTimes.status | json }}</p> -->

<div class="container-fluid p-3 bg-inktel-blue text-white">
  <div class="row text-center">
    <div class="col">
      <!-- this section needs a for-loop to print data after each section -->
      <!-- campaingList & inboudGroupsList are the designated arrays to populate this area. -->
      <span class="text-uppercase d-block">Campaigns using this call time:</span>
      <span class="text-uppercase d-block">Inbound Groups using this call time:</span>
      <span class="text-uppercase"></span>

    </div>
  </div>
</div>
