.invalid-input {
    border-color:  tomato !important;
    // border-left-width: 20px;
    border-radius: 5px;
    outline-color: firebrick !important;
    }
.txt-inktel-blue{
    color: #337ab7 !important;
}
.bg-inktel-blue{
    background-color: #337ab7 !important;
}

.bg-inktel-green{
    background-color: rgb(0, 128, 98);
}
.bg-inktel-grey{
    background-color: rgb(232, 239, 243) !important;
}