
<div class="h5">
  <span class="text-muted">Call Log import </span> 
  <button type="button" class="btn btn-white" [tooltip]="callLogHelper"
  placement="right"><fa-icon [icon]="faQuestionCircle"></fa-icon></button>
</div>
<div class="row pl-3">
  <!-- MONDAY START -->
  <div class="w-14percent bg-inktel-grey pl-1">
      <div class="d-block font-weight-bold border-bottom border-dark">
          Monday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Monday')" [start]="mondayStart" [stop]="mondayStop" ></app-calltime-log>
  </div>
  <!-- TUESDAY START -->
  <div class="w-14percent">
      <div class="d-block font-weight-bold border-bottom border-dark pl-1">
          Tuesday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Tuesday')" [start]="tuesdayStart" [stop]="tuesdayStop" ></app-calltime-log>
  </div>
  <!-- WEDNESDAY START -->
  <div class="w-14percent bg-inktel-grey">
      <div class="d-block font-weight-bold border-bottom border-dark pl-1">
          Wednesday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Wednesday')" [start]="wednesdayStart" [stop]="wednesdayStop" ></app-calltime-log>
  </div>
  <!-- THURSDAY START -->
  <div class="w-14percent">
      <div class="d-block font-weight-bold border-bottom border-dark pl-1">
          Thursday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Thursday')" [start]="thursdayStart" [stop]="thursdayStop" ></app-calltime-log>
  </div>
  <!-- FRIDAY START -->
  <div class="w-14percent bg-inktel-grey">
      <div class="d-block font-weight-bold border-bottom border-dark pl-1">
          Friday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Friday')" [start]="fridayStart" [stop]="fridayStop" ></app-calltime-log>
  </div>
  <!-- SATURDAY START -->
  <div class="w-14percent">
      <div class="d-block font-weight-bold border-bottom border-dark pl-1">
          Saturday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Saturday')" [start]="saturdayStart" [stop]="saturdayStop" ></app-calltime-log>
  </div>
  <!-- SUDNDAY START -->
  <div class="w-14percent bg-inktel-grey pl-1">
      <div class="d-block font-weight-bold border-bottom border-dark">
          Sunday
          </div>
      <app-calltime-log (callLog)="passInfo($event, 'Sunday')" [start]="sundayStart" [stop]="sundayStop" ></app-calltime-log>
  </div>
</div>

